@using espacioProductos
@model List<Productos>


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>

<body>
    <h1>Lista de productos</h1>
    <div class="list-group">
        @foreach (var elemento in Model)
        {
            <li class="list-group-item">
                <p>ID: @elemento.IdProducto</p>
                <p>Descripcion: @elemento.Descripcion</p>
                <p>Precio: @elemento.Precio</p>
            </li>
        }
    </div>
</body>

</html>
