<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            border: 0;
        }
    </style>
</head>

<body>
    <form action="Listar" method="get">
        <input type="submit" value="Aaaa">
    </form>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            <a href="Listar" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="52" height="52" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512"
                    xml:space="preserve" class="">
                    <circle r="256" cx="256" cy="256" fill="#84e08c" shape="circle"></circle>
                    <g transform="matrix(0.7,0,0,0.7,76.79999771118165,76.80000000000001)">
                        <path
                            d="M434.929 46.131C424.549 35.729 410.745 30 396.058 30H371.25v-5c0-13.785-11.215-25-25-25h-180c-13.785 0-25 11.215-25 25v5h-24.897c-30.261 0-54.908 24.646-54.942 54.939l-.411 372c-.016 14.702 5.691 28.528 16.07 38.93C87.45 506.271 101.255 512 115.942 512h279.704c30.262 0 54.909-24.646 54.942-54.939l.412-372c.017-14.703-5.691-28.529-16.071-38.93zM171.25 30h170v30h-170zm249.37 427.027C420.604 470.798 409.401 482 395.646 482H115.942c-6.676 0-12.951-2.604-17.669-7.332-4.718-4.729-7.312-11.013-7.305-17.695l.411-372C91.394 71.202 102.597 60 116.353 60h24.897v5c0 13.785 11.215 25 25 25h180c13.785 0 25-11.215 25-25v-5h24.808c6.676 0 12.951 2.604 17.669 7.332s7.313 11.013 7.305 17.695z"
                            fill="#000000" opacity="1" data-original="#000000" class="">
                        </path>
                        <path
                            d="M261.099 200H367.67c8.284 0 15-6.716 15-15s-6.716-15-15-15H261.099c-8.284 0-15 6.716-15 15s6.716 15 15 15zM261.099 300H367.67c8.284 0 15-6.716 15-15s-6.716-15-15-15H261.099c-8.284 0-15 6.716-15 15s6.716 15 15 15zM368.099 370h-107c-8.284 0-15 6.716-15 15s6.716 15 15 15h107c8.284 0 15-6.716 15-15s-6.715-15-15-15zM197.256 144.157l-34.592 34.592-8.156-8.157c-5.858-5.858-15.355-5.858-21.213 0-5.858 5.857-5.858 15.355 0 21.213l18.763 18.764a15 15 0 0 0 21.213 0l45.199-45.198c5.858-5.857 5.858-15.355 0-21.213-5.858-5.859-15.355-5.859-21.214-.001zM197.256 251.794l-34.592 34.592-8.156-8.156c-5.858-5.858-15.355-5.858-21.213 0-5.858 5.857-5.858 15.354 0 21.213l18.763 18.764a15 15 0 0 0 21.213 0l45.199-45.199c5.858-5.857 5.858-15.355 0-21.213s-15.356-5.858-21.214-.001zM197.256 351.794l-34.592 34.592-8.156-8.156c-5.858-5.858-15.355-5.858-21.213 0-5.858 5.857-5.858 15.354 0 21.213l18.763 18.764a15 15 0 0 0 21.213 0l45.199-45.199c5.858-5.857 5.858-15.355 0-21.213s-15.356-5.858-21.214-.001z"
                            fill="#000000" opacity="1" data-original="#000000" class="">
                        </path>
                    </g>
                </svg>
                <div class="d-flex w-100" style="flex-direction: column; justify-content: center;">
                    <h6 class=" mb-0">Listar</h6>
                    <p class="mb-0 opacity-75">Listar los presupuestos.</p>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="52" height="52" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512"
                    xml:space="preserve" class="">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #4da6ff;
                            }
                        </style>
                    </defs>
                    <circle class="cls-1" cx="256" cy="256" r="256" />
                    <g>
                        <path
                            d="M312.25,148.9h-112c-10.8,0-19.6-8.79-19.6-19.6v-22.4c0-10.81,8.8-19.6,19.6-19.6h26.36c3.67-12.91,15.57-22.4,29.64-22.4,8.33,0,16.07,3.25,21.82,9.14,3.75,3.65,6.43,8.21,7.84,13.26h26.34c10.81,0,19.6,8.79,19.6,19.6v22.4c0,10.81-8.79,19.6-19.6,19.6ZM200.25,104.1c-1.55,0-2.8,1.25-2.8,2.8v22.4c0,1.55,1.27,2.8,2.8,2.8h112c1.55,0,2.8-1.25,2.8-2.8v-22.4c0-1.55-1.25-2.8-2.8-2.8h-33.6c-4.64,0-8.4-3.76-8.4-8.4,0-3.75-1.44-7.22-4.07-9.78-2.59-2.71-6.18-4.24-9.93-4.22-7.73,0-14,6.27-14,14,0,4.64-3.76,8.4-8.4,8.4h-33.6Z" />
                        <path
                            d="M345.85,417.7h-179.2c-17-.02-30.78-13.8-30.8-30.8v-246.4c.02-17,13.8-30.78,30.8-30.8h22.4c4.64,0,8.4,3.76,8.4,8.4s-3.76,8.4-8.4,8.4h-22.4c-7.73,0-14,6.27-14,14v246.4c0,7.73,6.27,14,14,14h179.2c7.73,0,14-6.27,14-14v-22.4c0-4.64,3.76-8.4,8.4-8.4s8.4,3.76,8.4,8.4v22.4c-.02,17-13.8,30.78-30.8,30.8ZM368.25,214.53c-4.64,0-8.4-3.76-8.4-8.4v-65.63c0-7.73-6.27-14-14-14h-22.4c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4h22.4c17,.02,30.78,13.8,30.8,30.8v65.63c0,4.64-3.76,8.4-8.4,8.4h0Z" />
                        <path
                            d="M289.06,372.9c-4.63.01-8.39-3.73-8.4-8.36,0-.57.05-1.13.17-1.69l7.92-39.6c.32-1.62,1.12-3.11,2.3-4.29l102.95-102.95c3.28-3.28,8.59-3.28,11.87,0l31.7,31.67c3.28,3.28,3.28,8.6,0,11.88h0s-102.96,102.95-102.96,102.95c-1.17,1.18-2.66,1.98-4.28,2.31l-39.6,7.92c-.55.11-1.1.16-1.66.16h0ZM304.72,329.04l-4.95,24.75,24.75-4.95,95.22-95.21-19.8-19.8-95.22,95.21Z" />
                        <path
                            d="M431.62,262.02c-2.23,0-4.36-.89-5.94-2.46l-31.7-31.67c-3.28-3.28-3.28-8.59,0-11.87l15.84-15.84c12.04-12,31.53-12,43.57,0,5.82,5.81,9.03,13.55,9.03,21.77s-3.2,15.96-9.03,21.78l-15.84,15.84c-1.57,1.58-3.71,2.47-5.94,2.46h0ZM411.81,221.94l19.81,19.8,9.89-9.9c2.65-2.64,4.11-6.16,4.11-9.9s-1.46-7.26-4.11-9.9c-5.48-5.45-14.33-5.45-19.8,0l-9.9,9.9ZM323.45,193.7h-134.4c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4h134.4c4.64,0,8.4,3.76,8.4,8.4s-3.76,8.4-8.4,8.4ZM323.45,238.5h-134.4c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4h134.4c4.64,0,8.4,3.76,8.4,8.4s-3.76,8.4-8.4,8.4ZM299.5,283.3h-110.43c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4h110.43c4.64,0,8.4,3.76,8.4,8.4s-3.76,8.4-8.4,8.4ZM263.76,328.1h-74.7c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4h74.7c4.64,0,8.4,3.76,8.4,8.4s-3.76,8.4-8.4,8.4ZM254.8,372.9h-65.74c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4h65.74c4.64,0,8.4,3.76,8.4,8.4s-3.76,8.4-8.4,8.4Z" />
                    </g>
                </svg>
                <div class="d-flex w-100" style="flex-direction: column; justify-content: center;">
                    <h6 class=" mb-0">Modificar</h6>
                    <p class="mb-0 opacity-75">Modificar un presupuesto del listado.</p>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="52" height="52" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512"
                    xml:space="preserve" class="">
                    <circle r="32" cx="32" cy="32" fill="#f39999" shape="circle"
                        transform="matrix(0.91,0,0,0.91,2.879999999999999,2.879999999999999)"></circle>
                    <g transform="matrix(0.7,0,0,0.7,9.59999942779541,9.600219154357912)">
                        <path
                            d="M46.905 10.305h-5.38v-.833a2.493 2.493 0 0 0-2.49-2.492h-3.197a3.962 3.962 0 0 0-7.676 0h-3.197a2.493 2.493 0 0 0-2.49 2.492v.833h-5.38a3.986 3.986 0 0 0-3.98 3.981V56.02a3.985 3.985 0 0 0 3.98 3.98h29.81a3.985 3.985 0 0 0 3.98-3.98V14.286a3.986 3.986 0 0 0-3.98-3.981zm-22.43-.833a.491.491 0 0 1 .49-.492h4.054a1 1 0 0 0 1-1 1.981 1.981 0 0 1 3.962 0 1 1 0 0 0 1 1h4.054a.491.491 0 0 1 .49.492v3.666a.491.491 0 0 1-.49.49h-14.07a.491.491 0 0 1-.49-.49zm24.41 46.548a1.983 1.983 0 0 1-1.98 1.98h-29.81a1.983 1.983 0 0 1-1.98-1.98V14.286a1.983 1.983 0 0 1 1.98-1.981h5.38v.833a2.493 2.493 0 0 0 2.49 2.49h14.07a2.493 2.493 0 0 0 2.49-2.49v-.833h5.38a1.983 1.983 0 0 1 1.98 1.981z"
                            fill="#000000" opacity="1" data-original="#000000" class="">
                        </path>
                        <path
                            d="m36.28 35.025 2.792-2.953a2.853 2.853 0 0 0-.536-4.27 2.74 2.74 0 0 0-3.869.108l-2.791 2.96-2.961-2.794a2.858 2.858 0 0 0-4.278.545 2.753 2.753 0 0 0 .126 3.868l2.958 2.791-2.789 2.957a2.837 2.837 0 0 0 .532 4.265 2.746 2.746 0 0 0 3.868-.108l2.792-2.959 2.956 2.789a2.755 2.755 0 0 0 3.878-.11 2.856 2.856 0 0 0 .28-4.299zm1.62 5.294c-.37.446-.879.957-1.445.452l-3.686-3.477a1 1 0 0 0-1.414.04l-3.48 3.69c-.529.53-1.07.043-1.464-.376a.735.735 0 0 1-.026-1.036l3.478-3.686a1 1 0 0 0-.042-1.414l-3.688-3.479c-.537-.54-.065-1.07.367-1.465a.74.74 0 0 1 1.045-.035l3.686 3.478a1 1 0 0 0 1.414-.041l3.48-3.689a.742.742 0 0 1 1.038-.024c.448.37.956.88.453 1.443l-3.478 3.678a1.028 1.028 0 0 0 .04 1.415l3.689 3.478a.739.739 0 0 1 .033 1.048z"
                            fill="#000000" opacity="1" data-original="#000000" class="">
                        </path>
                    </g>
                </svg>
                <div class="d-flex w-100" style="flex-direction: column; justify-content: center;">
                    <h6 class=" mb-0">Eliminar</h6>
                    <p class="mb-0 opacity-75">Eliminar un presupuesto del listado.</p>
                </div>
            </a>
        </div>
    </div>
</body>

</html>